In [1]:
# importing libraries 
# TODO -> Use module for scripts 
import numpy as np
import pandas as pd 
import dataexp as dtex # our code
import dataimport as dtmp # our code 
import preprocessing as pre # our code 
from IPython.display import display

## Data Pre-Processing & Exploration

In [2]:
# importing data 
path = "data/"
extensions = ".arff"
files_path = dtmp.file_paths(path, extensions) # get files with .arff extension in path specified
df_years = dtmp.arff2df(files_path, True) # converts .arff files to dataframes 

# create column names 
columns_name = []
for i in range(df_years[0][1].shape[1] - 1):
    columns_name.append("x" + str(i + 1))
columns_name.append("outcome")

# change header/column names 
# convert features to floats (to make sure we have consistency)
# changing the class/outcome column to 0 and 1 (not bankrupt and bankrupt)
# print path and shape for each dataframe imported & convert outcome variable to 0/1
for i in range(len(df_years)):
    df_years[i][1].columns = columns_name 
    df_years[i][1][columns_name[:-1]] = df_years[i][1][columns_name[:-1]].apply(pd.to_numeric)
    df_years[i][1]["outcome"] = df_years[i][1]["outcome"].astype("category").cat.codes
    print("Path: {0}, Shape: {1}".format(df_years[i][0], df_years[i][1].shape))

# since we made sure which dataframe was loaded from (path) and sorted by year 
# make list of different dataframes 
dataframes = [x[1] for x in df_years]

# print head for first case (year 1)
display(dataframes[0].head())
#display(year_one.dtypes)

Path: data/1year.arff, Shape: (7027, 65)
Path: data/2year.arff, Shape: (10173, 65)
Path: data/3year.arff, Shape: (10503, 65)
Path: data/4year.arff, Shape: (9792, 65)
Path: data/5year.arff, Shape: (5910, 65)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x56,x57,x58,x59,x60,x61,x62,x63,x64,outcome
0,0.200550,0.37951,0.39641,2.0472,32.3510,0.38825,0.249760,1.33050,1.1389,0.50494,...,0.121960,0.39718,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.4277,0
1,0.209120,0.49988,0.47225,1.9447,14.7860,0.00000,0.258340,0.99601,1.6996,0.49788,...,0.121300,0.42002,0.85300,0.000000,4.1486,3.2732,107.350,3.4000,60.9870,0
2,0.248660,0.69592,0.26713,1.5548,-1.1523,0.00000,0.309060,0.43695,1.3090,0.30408,...,0.241140,0.81774,0.76599,0.694840,4.9909,3.9510,134.270,2.7185,5.2078,0
3,0.081483,0.30734,0.45879,2.4928,51.9520,0.14988,0.092704,1.86610,1.0571,0.57353,...,0.054015,0.14207,0.94598,0.000000,4.5746,3.6147,86.435,4.2228,5.5497,0
4,0.187320,0.61323,0.22960,1.4063,-7.3128,0.18732,0.187320,0.63070,1.1559,0.38677,...,0.134850,0.48431,0.86515,0.124440,6.3985,4.3158,127.210,2.8692,7.8980,0

### Missing Values

In [3]:
# displaying missing values stats
missing_stats_df = dtex.missing_stats(dataframes)
missing_stats_df.insert(loc=0, column= "year", value=["Year 1" , "Year 2", "Year 3" , "Year 4", "Year 5"])
display(missing_stats_df)

,year,total_instances,total_instances_with_missing_values,total_instances_without_missing_values,data_loss
0,Year 1,7027.0,3833.0,3194.0,0.5455
1,Year 2,10173.0,6085.0,4088.0,0.5982
2,Year 3,10503.0,5618.0,4885.0,0.5349
3,Year 4,9792.0,5023.0,4769.0,0.5130
4,Year 5,5910.0,2879.0,3031.0,0.4871

### Data Imputation

In [4]:
# imputation of data using different methods 
imp_mean_dfs = pre.mean_imputation(dataframes)